<%- if !current_league && @leagues.blank? -%>
  <div class="jumbotron">
    <h1>Pure Fantasy League</h1>
    <p>Welcome to PFL, the world's purest form of Fantasy Football!</p>
  </div>
<%- end -%>

<% unless registered_admin? %>
  <h3 class="jumbotron">
    It looks like you're the first one here - <%= link_to 'Sign up as admin now', new_user_registration_path %>!
  </h3>
<% end %>

<%- if !current_league && @leagues && @leagues.count > 1 -%>
  <div class="jumbotron">
    <h3>Which League do you want to manage today?</h3>
    <ul>
      <%- @leagues.each do |league| -%>
        <li><strong><%= link_to league, set_league_path(league), method: :post %></strong></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

<%- if current_league -%>
  <div class="jumbotron">
    <h2><%= current_league %> <small>Pure Fantasy League</small></h2>
    <p>Welcome to PFL, the world's purest form of Fantasy Football!</p>
  </div>

  <%- if current_league.auction_on -%>
    <h4 class="alert alert-info">
      The Pre-Season Auction takes places <time><%= current_league.auction_on.to_s :short_ordinal %></time>
    </h4>
  <%- end -%>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <%- if instance_variable_defined? "@team" -%>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= simple_form_for @team do |f| %>
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <%= f.input :title, label: false, placeholder: 'To get started give your team a name...', input_html: { class: 'input-lg' }, autofocus: true %>
                </div>
                <div class="col-md-2 col-sm-4">
                  <%= f.button :submit, 'Save Team', class: 'btn-primary btn-lg', data: { disable_with: 'Please wait...' } %>
                </div>
              </div>

            <%- end -%>
          </div>
        </div>
      <%- end -%>

    </div>
  </div>
<%- end -%>