<h1>
  <div class="pull-right">
    <%= select :league, :season, Season.list, { selected: params[:by_season] }, class: 'form-control' %>
  </div>
  Leagues
</h1>

<% if collection.empty? %>
  <h4 class="alert alert-warning">There are no Leagues! <%= link_to 'Create one now', new_resource_path %></h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th width="120">
          <%= link_to 'New League', new_resource_path, class: 'btn btn-primary pull-right btn-sm' %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% collection.each do |league| %>
        <tr>
          <td><strong><%= link_to league, resource_path(league) %></strong></td>
          <td align="right">
            <%= link_to 'Edit', edit_resource_path(league) %> |
            <%= link_to 'Destroy', resource_path(league), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
