<h1>
  <div class="pull-right">
    <div class="btn-group" role="group">
      <%= link_to 'Edit', edit_resource_path, class: 'btn btn-default' %>
      <%= link_to 'Destroy', resource_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <%= resource %>
</h1>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#managers" data-toggle="tab">Managers <span class="badge"><%= resource.managers.count %></span></a>
  </li>
  <li>
    <a href="#teams" data-toggle="tab">Teams <span class="badge"><%= resource.teams.count %></span></a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="managers">
    <%= render 'admin/leagues/show/managers' %>
  </div>
  <div class="tab-pane" id="teams">
    <%= render 'leagues/show/teams' %>
  </div>
</div>
