<!DOCTYPE html>
<html>
<head>
  <title><%= page_title_for_header %></title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <main>
    <%= render partial: "layouts/flashes", flash: flash %>
    <%= yield %>
  </main>

  <footer>
    <div>
      <div class="pull right">Contact us at <%= mail_to 'help@purefantasyleague.com' %></div>
      &copy; Joel Moss &ndash; Developed with Style
    </div>
  </footer>

</body>
</html>
